# Import relevant libraries

In [1]:
import json
import gzip
import pandas as pd

# Read data

In [9]:
# Define functions to read the data
def parse(path):
    g = gzip.open(path, 'r')
    for i in g:
        yield json.loads(i)
        
def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient = 'index')

In [6]:
# Load data
df_mlb = getDF('Data/meta_Luxury_Beauty.json.gz')
df_ab = getDF('Data/All_Beauty.json.gz')
df_mab = getDF('Data/meta_All_Beauty.json.gz')
df_lb = getDF('Data/Luxury_Beauty.json.gz')

In [8]:
df_ab.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN

In [10]:
df_mab.head(5)

,title,image,brand,rank,main_cat,asin,description,also_view,also_buy,price,similar_item,details,feature,tech1,date
0,Workout Headphones by Arena Essentials,[https://images-na.ssl-images-amazon.com/image...,HarperCollins,"3,235,148inBeautyamp;PersonalCare(",All Beauty,0061073717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Black Diamond,NaN,Swedish Beauty,"1,462,563inBeautyamp;PersonalCare(",All Beauty,0143026860,[This is the NEW PURPLE BOTTLE that just came ...,[B000LXTNMW],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"12 Pc BLUE HEAVEN KAJAL""HERBAL kajal With VITA...",NaN,BLUE HEAVE,"100,425inBeautyPersonalCare(",All Beauty,014789302X,"[A brand-new, unused, unopened, undamaged item...","[B00OWT3W28, B0796RMSV8, B010E1X15K, B010FQJWW...","[B00OWT3W28, B010E1X15K, B0796RMSV8, B07HPBWSW...",$6.45,NaN,NaN,NaN,NaN,NaN
3,The Inheritance,NaN,Sunatoria,"476,831inBeautyPersonalCare(",All Beauty,0571348351,[You have to wonder why there isn't a word in ...,"[0571352367, 0573697094, 1635571766, 155936597...","[1848426380, B07JVF7M3C, 1644450003, 163557176...",NaN,NaN,NaN,NaN,NaN,NaN
4,The Listening Cards,[https://images-na.ssl-images-amazon.com/image...,Listening Planet,"2,967,592inBeautyamp;PersonalCare(",All Beauty,0692508988,[The Listening Cards are an eloquent primer in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN