# Import relevant libraries

In [1]:
import json
import gzip
import pandas as pd 
import numpy as np

# Read data

In [2]:
def parse(path):
    g = gzip.open(path, 'rb')
    for i in g:
        yield json.loads(i)
        
def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient = 'index')

In [3]:
df_ab_r = getDF('All_Beauty.json.gz')
df_ab_m = getDF('meta_All_Beauty.json.gz')
df_lb_r = getDF('Luxury_Beauty.json.gz')
df_lb_m = getDF('meta_Luxury_Beauty.json.gz')

In [4]:
df_ab_r.head(10)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN
5,5.0,False,"02 26, 2010",A36NF437WZLQ9E,0143026860,W. Powell,Today I gave a book about the Negro Leagues of...,The Gift of Black Baseball,1267142400,4,NaN,NaN
6,4.0,False,"03 7, 2001",A10Q8NIFOVOHFV,0143026860,Robert S. Clay Jr.,The story of race relations in American histor...,"Baseball, America, and racism.",983923200,14,NaN,NaN
7,1.0,True,"04 10, 2017",A26PO1B2Q2G1CS,014789302X,Jacqueline Diaz,I didn't like this product it smudged all unde...,One Star,1491782400,NaN,NaN,NaN
8,5.0,True,"01 3, 2017",AQ812VYVTC2RJ,014789302X,Khadijah Ali-Evans,I simply love the product. I appreciate print ...,Five Stars,1483401600,NaN,NaN,NaN
9,1.0,True,"11 19, 2016",AMACNEW14ADMX,014789302X,rabiyaa123,it burns your eyes when u put it on and very ...,i do not recommend.,1479513600,3,NaN,NaN

In [5]:
pd.set_option('display.max_columns', None)
print(df_ab_r.loc[4]['reviewText'])

This was a good story of the Black leagues. I bought the book to teach in my high school reading class. I found it very informative and exciting. I would recommend to anyone interested in the history of the black leagues. It is well written, unlike a book of facts. The McKissack's continue to write good books for young audiences that can also be enjoyed by adults!

In [6]:
df_ab_m.tail()

,title,image,brand,rank,main_cat,asin,description,also_view,also_buy,price,similar_item,details,feature,tech1,date
32988,(Buy 3 Get 1 Free) Salon Perfect Eye Makeup Co...,NaN,Salon Perfect,"1,639,713inBeautyPersonalCare(",All Beauty,B01HJ1K3YK,NaN,NaN,NaN,NaN,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN
32989,NOW D-Mannose 500 mg - 120 Veg Capsules (Pack ...,NaN,NaN,"207,410inBeautyPersonalCare(",All Beauty,B01HJ84SGM,NaN,"[B01KON9B4S, B000JN4CR0, B071ZHMRHS, B01HJ84TN...","[B01KON9B4S, B079X3YFXS, B00M79OYS6, B000JN4CR...",$55.63,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN
32990,12 White Feather Shuttlecocks Birdies Badminto...,[https://images-na.ssl-images-amazon.com/image...,GBSTORE,"965,673inBeautyPersonalCare(",All Beauty,B01HJASD20,[Brand new and high quality Enables fast volle...,NaN,NaN,$12.99,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN
32991,FESHFEN Scrunchy Scrunchies Synthetic Hair Bun...,[https://images-na.ssl-images-amazon.com/image...,NaN,"478,123inBeautyPersonalCare(",All Beauty,B01HJEGTYK,NaN,"[B06XNM7CGD, B071D7TMQS]","[B01HJEGQ6Q, B01L66EYCG, B00H7YZ7HI, B00CHKKWZ...",NaN,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN
27117,NaN,[https://images-na.ssl-images-amazon.com/image...,BCW,NaN,All Beauty,B01A9MZLS4,NaN,"[B00WRYQWW2, B00QGQTVHK, B00VUAYN70, B00W2N65F...","[B00QGQTVHK, B00WRYQWW2, B00WRYP1WO, B01M122DM...",$2.89 - $13.99,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN

In [7]:
# merge the data

df_ab_merged = pd.merge(df_ab_r, df_ab_m, how='inner', on ='asin')
df_lb_merged = pd.merge(df_lb_r, df_lb_m, how='inner', on ='asin')

# Data Cleaning

In [8]:
# data cleaning
to_drop = ['vote','reviewText', 'reviewerName', 'summary','image_x', 'image_y', 'description', 'details']

df_ab_merged.drop(to_drop, inplace=True, axis=1)
df_lb_merged.drop(to_drop, inplace=True, axis=1)

In [9]:
df_lb_merged_dropnon = df_lb_merged.dropna(subset=['price'])
df_lb_merged_dropnon.head()

,overall,verified,reviewTime,reviewerID,asin,unixReviewTime,style,title,also_buy,rank,also_view,main_cat,price,brand,feature
0,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,1276560000,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN
1,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,1276560000,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN
2,5.0,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,1262822400,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN
3,5.0,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,1262822400,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN
4,5.0,True,"04 18, 2018",A2EM03F99X3RJZ,B00004U9V2,1524009600,{'Size:': ' 3.5 oz.'},Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN

In [10]:
# Convert unixReviewTime to the datetime
df_lb_merged_dropnon['DatetimeIndex'] = pd.to_datetime(df_lb_merged_dropnon['unixReviewTime'],unit='s')
df_lb_merged_dropnon.head()

/Users/zhihuipan/anaconda3/envs/Data_visualisation/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,overall,verified,reviewTime,reviewerID,asin,unixReviewTime,style,title,also_buy,rank,also_view,main_cat,price,brand,feature,DatetimeIndex
0,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,1276560000,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN,2010-06-15
1,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,1276560000,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN,2010-06-15
2,5.0,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,1262822400,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN,2010-01-07
3,5.0,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,1262822400,NaN,Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN,2010-01-07
4,5.0,True,"04 18, 2018",A2EM03F99X3RJZ,B00004U9V2,1524009600,{'Size:': ' 3.5 oz.'},Crabtree & Evelyn - Gardener's Ultra-Moisturis...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...","4,324inBeautyPersonalCare(","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",Luxury Beauty,$30.00,NaN,NaN,2018-04-18

In [11]:
# set the datetime as indext
test_df = df_lb_merged_dropnon.set_index('DatetimeIndex')
# Groupby 
a=pd.DataFrame(test_df.groupby(['asin', pd.Grouper(freq='MS')])['overall'].count())
a.head(10)

                          overall
asin       DatetimeIndex
B00004U9V2 2010-01-01           2
           2010-06-01           2
           2010-11-01           2
           2011-01-01           2
           2011-03-01           2
           2011-11-01           2
           2012-01-01           2
           2012-02-01           2
           2012-03-01           2
           2012-06-01           4

In [51]:
#fill missing timeseries data 
f = lambda df: df.resample(rule='M', how='first')
b = a.reset_index(level=0).groupby('asin').apply(f).drop('asin', axis=1)
b

/Users/zhihuipan/anaconda3/envs/Data_visualisation/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).first()
  """Entry point for launching an IPython kernel.

                          overall
asin       DatetimeIndex
B00004U9V2 2010-01-31         2.0
           2010-02-28         NaN
           2010-03-31         NaN
           2010-04-30         NaN
           2010-05-31         NaN
...                           ...
B01HIQIEYC 2018-05-31         NaN
           2018-06-30         NaN
           2018-07-31         1.0
B01HJ2UY0W 2016-12-31         1.0
B01HJ2UY1G 2017-01-31         1.0

[323531 rows x 1 columns]

In [52]:
#replace none with zero
b['overall'].fillna(0)

asin        DatetimeIndex
B00004U9V2  2010-01-31       2.0
            2010-02-28       0.0
            2010-03-31       0.0
            2010-04-30       0.0
            2010-05-31       0.0
                            ...
B01HIQIEYC  2018-05-31       0.0
            2018-06-30       0.0
            2018-07-31       1.0
B01HJ2UY0W  2016-12-31       1.0
B01HJ2UY1G  2017-01-31       1.0
Name: overall, Length: 323531, dtype: float64

In [76]:
idx = pd.IndexSlice 
# Top 6 
b.loc[idx[:,[12]],:]

SyntaxError: invalid syntax (<ipython-input-76-baf1dbc79de7>, line 3)

In [12]:
df_lb_merged_dropnon['asin'].unique()

array(['B00004U9V2', 'B00005A77F', 'B00005NDTD', ..., 'B01HIIO7Q4',
       'B01HJ2UY0W', 'B01HJ2UY1G'], dtype=object)

In [50]:

b.loc['B00005NDTD'].tail(10)

               overall
DatetimeIndex
2017-08-31         2.0
2017-09-30         NaN
2017-10-31         NaN
2017-11-30         NaN
2017-12-31         2.0
2018-01-31         2.0
2018-02-28         6.0
2018-03-31         NaN
2018-04-30         2.0
2018-05-31         2.0

In [14]:
###################

In [15]:
df_ab_merged.dropna(subset=['price'])
df_ab_merged_dropnon.head()

NameError: name 'df_ab_merged_dropnon' is not defined

In [ ]:
df_ab_merged.head()

In [ ]:
# groupby count - after cleaning
df_ab_merged.groupby('asin')['price'].agg('count')
df_lb_merged.groupby('asin')['price'].agg('count')

In [ ]:
df_lb_r.tail(10)

In [ ]:
df_lb_m.head()

In [ ]:
#compute average rating
ratings = []

for review in parse('All_Beauty.json.gz'):
    ratings.append(review['overall'])
    
print (sum(ratings) / len(ratings))